/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

html {
  background: -moz-Dialog;
  padding: 0 1em;
  font: message-box;
}

body {
  color: -moz-FieldText;
  position: relative;
  min-width: 330px;
  max-width: 50em;
  margin: 4em auto;
  border: 1px solid ThreeDShadow;
  -moz-border-radius: 10px;
  padding: 3em;
  -moz-padding-start: 30px;
  background: -moz-Field;
}

.aboutPageWideContainer {
  max-width: 80%;
}

#aboutLogoContainer {
  border: 1px solid ThreeDLightShadow;
  width: 300px;
  margin-bottom: 2em;
}

img {
  border: 0;
}

#version {
  font-weight: bold;
  color: #909090;
  margin: -24px 0 9px 17px;
}

ul {
  margin: 0;
  -moz-margin-start: 1.5em;
  padding: 0;
  list-style: square;
}

ul > li {
  margin-top: .5em;
}

th, td {
  padding: 0 5px;
}

.columns {
  -moz-column-width: 20em;
  -moz-column-gap: 3em;
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-before: 0.83em;
  margin-after: 0.83em;
  margin-start: 0;
  margin-end: 0;
  font-weight: bold; 
}
h2, p, hr {
	margin-top: 0.83em;
	margin-bottom: 0.83em;
}